:root {
  --primary-purple: #800040;
  --secondary-purple: #D1A3B4; 
  --accent-pink: #FF80AB; 
  --background-light-gray: #F1F1F1; 
  --text-dark-gray: #333333; 
}

body {
  background-color: var(--background-light-gray);
  color: var(--text-dark-gray);
}

.loginbtn, .reg-button {
  background-color: var(--primary-purple);
  color: white;
}

.loginbtn:hover, .reg-button:hover {
  background-color: #D1A3B4;
  color: black;
}

.invadebtn {
  background-color: var(--primary-purple);
  color: white;
}

.invadebtn:hover {
  background-color: #D1A3B4;
  color: black;
}

.logreg-link {
  color: var(--accent-pink);
}

.link {
  color: var(--accent-pink);
}

nav {
  background-color: var(--text-dark-gray);
}

.img-container {
  height: 12.5rem;
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.1);
}

tbody tr:nth-child(odd) {
  background-color: var(--accent-pink);
}

tbody tr:nth-child(even) {
  background-color: var(--secondary-purple);
}

#table-header {
  background-color: var(--primary-purple);
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.625rem;
  text-align: center;
  background-color: #f9f9f9;
  border: 0.0625rem solid #ddd; 
}

th, td {
  padding: 0.75rem 0.9375rem; 
  border-left: 0.0625rem solid #ddd !important; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th:first-child, td:first-child {
  border-left: none;
}

.form-control::placeholder,
textarea::placeholder {
  color: #FF80AB;
}

.form-select option {
  color: #FF80AB;
}

.form-control,
textarea,
select {
  border-color: #FF80AB;
  color: #FF80AB;
}

.form-select {
  border-color: #FF80AB;
  color: #FF80AB;
}

.pagination {
  margin-top: 1.25rem; 
}

.page-item .page-link {
  color: var(--background-light-gray);
  background-color: var(--accent-pink);
  border: 0.0625rem solid var(--accent-pink); 
  transition: background-color 0.3s ease;
  width: 6.25rem; 
}

.page-item .page-link:hover {
  background-color: var(--primary-purple);
  color: var(--text-dark-gray);
}

#nav-paginataion {
  background-color: transparent !important;
}

.handle-restore {
  margin-left: 0.625rem;
  color: red;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem; 
}

.offline {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem; 
  background-color: #ff4c4c;
  color: white;
  text-align: center;
  font-size: 1.125rem; 
  font-weight: bold;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); 
  z-index: 1000;
  animation: slideDown 0.5s ease-in-out;
}
.task-deleted{
  color: white;
}
.inavde-logo{
  height: 2.5rem;
  margin-right: 0.625rem;
}

.not-found-container {
  min-height: 80vh;
}

.not-found-image {
  max-width: 31.25rem;
}

.not-found-container h1 {
  font-size: 2.5rem;
  color: #343a40;
}

.not-found-container p {
  font-size: 1.2rem;
  color: var(--neutral-dark-gray);
}



.password-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--accent-pink);
}

.card-container {
  max-width: 43.75rem;
  margin: 3.125rem auto;
  padding: 1.25rem;
  background-color: #ffffff;
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-container img {
  width: 5rem;
  margin-bottom: 1.25rem;
}

.card-container h1 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #333333;
}

.card-container label {
  display: block;
  text-align: left;
  margin-bottom: 0.3125rem;
  color: #666666;
}



.password-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.logout-button {
  cursor: pointer;
}


.btn-edit {
  background-color: var(--primary-purple);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-edit:hover {
  background-color: var(--primary-purple-hover);
}

.btn-delete {
  background-color: var(--accent-pink);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-delete:hover {
  background-color: var(--accent-pink-hover);
}

.btn-restore {
  background-color: var(--secondary-purple);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-restore:hover {
  background-color: var(--secondary-purple-hover);
}

@media (max-width: 576px) {
  .table {
    font-size: 0.8rem;
  }

  .btn {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
  }

  .form-control, .form-select {
    width: 100%;
    margin-bottom: 1rem;
  }

  .pagination .page-link {
    width: auto;
  }
}
